* {
	font-family: Verdana;
	box-sizing: border-box;
}
html {
}
body {
	background-color: #000;
	main {
	}
}

#tables {
	margin: auto;
	font-size: 20px;
	box-shadow: 0 0 14px 2px #000;
	border-radius: 1rem;
	color: #fff;
	min-height: 97.5vh;
	position: relative;
	width: 100%;
	max-width: 375px;
	background-image: linear-gradient(to bottom, purple 50%, orange);

	.tableContainer {
		padding-top: 1rem;
		table {
			width: 100%;
			th,
			td {
				text-align: center;
				font-size: 1.25em;
				padding: 5px;
			}
		}
	}
}
