footer {
  width: 100%;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: $sm) {
    flex-direction: column-reverse;
    > * {
      min-width: 98%;
      margin: 1% !important;
    }
    > div:nth-of-type(1) {
      flex-direction: row !important;
      justify-content: space-between !important;
      align-items: center !important;
      height: 100px !important;
      > * {
        margin: 0% !important;
      }
      > a {
        height: 100%;
        > img {
          max-height: 100%;
        }
      }
      > p {
        width: 75%;
        margin-right: 0%;
        margin-left: 3%;
        height: max-content !important;
      }
    }
  }
  > div:nth-of-type(1) {
    width: 25%;
    height: 200px;
    margin: 0%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
    padding-left: 0%;
    > a {
      display: inline-block;
      height: 65%;
      > img {
        display: block;
        margin: 0%;
        height: 100%;
      }
    }
    > p {
      height: 35%;
      margin-top: 5%;
    }
  }
  > ul {
    padding: 1%;
    font-size: 1.25rem;
    width: 35%;
    height: 150px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    border-radius: 5px;
    //background-color: white;
    box-shadow: 0px 0px 15px 2px #bbb;
    margin-right: 1%;
    > li {
      font-size: 1rem;
      list-style: none;
      > a {
        color: black;
        text-decoration: none;
        font-size: 1.15rem;
        > i {
          margin-right: 5px;
          margin-left: 5px;
          color: red;
        }
      }
    }
  }
  #copyright {
    flex-shrink: 0;
    max-width: 100%;
    text-align: center;
    order: -1;
    margin-bottom: 3% !important;
  }
}
