header {
  min-height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  > div:nth-of-type(1) {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    > img {
      height: 80px;
      margin-left: 0%;
    }
    > button {
      margin-right: 1%;
      height: 40px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
  nav {
    width: 75%;
    display: flex;
    margin-right: 1%;
    > div {
      width: 100%;
      text-align: center;
      position: relative;
      > span {
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid red;
        cursor: pointer;
      }
      > ul {
        height: auto;
        position: absolute;
        top: 100%;
        width: 100%;
        overflow: hidden;
        list-style: none;
        padding: 0%;
        visibility: hidden;
        > li {
          height: 0px;
          transition: height 0.5s;
          margin-left: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: lightgray;
          border: 1px solid black;
          cursor: pointer;
        }
        :hover {
          background-color: gray;
          color: white;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    > nav {
      flex-direction: column;
      width: 100%;
      > div {
        > ul {
          position: relative;
        }
        > span {
          margin: 0%;
        }
      }
    }
  }
}
