header {
  border: 1px solid red;
  min-height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  > div:nth-of-type(1) {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    background-color: white;
    > img {
      height: 80px;
      margin-left: 3%;
    }
    > button {
      margin-right: 3%;
      font-size: 2rem;
      border: none;
      background-color: transparent;
      cursor: pointer;
      display: none;
    }
  }
  nav {
    min-width: 60%;
    display: flex;
    margin-right: 3%;
    z-index: 0;
    > div {
      width: 99%;
      margin-right: 1%;
      text-align: center;
      position: relative;
      > span {
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 100%;
        color: white;
        background-color: red;
        background-image: linear-gradient(to bottom, red, rgb(207, 22, 22));
        font-weight: bold;
      }
      > span:hover {
        box-shadow: 1px 2px 5px 1px gray;
        letter-spacing: 2px;
        transition: letter-spacing 0.25s;
      }
      > ul {
        height: auto;
        position: absolute;
        top: 100%;
        width: 100%;
        overflow: hidden;
        list-style: none;
        padding: 0%;
        visibility: hidden;
        border: 1px solid black;
        border-top: none;
        > li {
          height: 0px;
          transition: height 0.5s;
          margin-left: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          cursor: pointer;
          border-top: 1px solid black;
        }
        :hover {
          background-color: red;
          color: white;
        }
      }
    }
  }
  @media screen and (max-width: $sm) {
    flex-direction: column;
    height: 0%;
    overflow: hidden;
    > div:nth-of-type(1) {
      > button {
        display: block;
      }
    }
    > nav {
      flex-direction: column;
      width: 100%;
      height: auto;
      transition: margin-top 0.5s;
      margin-top: -300px;
      > div {
        margin-left: 0.5%;
        > ul {
          position: relative;
        }
        > span {
          margin: 0%;
        }
      }
    }
  }
}
