header{
	height: 100px;
  width: 100%;
  border: 1px solid green;
  display: flex;
  .logo-container{
    border: 1px solid red;
    height: 100%;
    width: 15%;
    margin-left: 1%;
    >img{
      max-height: 100%;
			max-width: 100%;
    }
  }
  .nav-menu{
    border: 1px solid red;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 75%;
		width: 100%;
		>div{
			border: 1px solid green;
			position: relative;
			width: 100%;
			>a{
				text-align: center;
				line-height: 50px;
				height: 50px;
				width: 100%;
				display: block;
			}
			>a +ul{
				border: 1px solid black;
				text-align: center;
				visibility: hidden;
				list-style: none;
				width: 100%;
				padding: 0%;
				position: absolute;
			}
		}
  }
}