header {
  width: 100vw;
  background-color: $bg-clr1;
  z-index: 1;
  .dynamic {
    display: flex;
    height: 135px;
    align-items: center;
    justify-content: space-between;
    //border: 1px solid red;
    > * {
    }
    .logoContainer {
      //margin-right: 11vw;
      width: 11vw;

      @media only screen and (max-width: $md) {
        width: 16vw;
      }
      > img {
        width: 100%;
      }
    }
    .linksContainer {
      width: 37vw;
      margin-right: 25px;
      margin-left: 25px;
    }
    .loginContainer {
      min-width: 10vw;
      .loggedIn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        //position: relative;
        > * {
          width: 80px;
          min-height: 45px;
          max-height: 45px;
          margin: 0%;
        }
        .notifications {
          display: flex;
          position: relative;
          border: 2px solid $clr2;
          border-radius: 5px;
          height: 100%;
          > span {
            position: absolute;
            height: 1.75rem;
            min-width: 1.75rem;
            top: -35%;
            right: -20%;
            border: 2px solid $clr2;
            border-radius: 50%;
            padding: 5px;
            background-color: $clr3;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: $clr2;
          }
        }
        .menuProfilePic {
          display: flex;
          justify-content: space-between;
          border: 2px solid $clr2;
          border-radius: 5px;
          align-items: stretch;
          min-width: 85px;
          margin-left: 15px;
          position: relative;
          .cover {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            cursor: pointer;
          }
          //
          .profilePic,
          .menuHandler {
            width: 50%;
            margin: 0%;
          }
          //
          .profilePic {
            border-right: 2px solid $clr2;
            object-fit: fill;
            > img {
              height: 100%;
            }
          }
          //
          .menuHandler {
            border: none;
            background-color: transparent;
            cursor: pointer;
            > img {
              width: 60%;
              transition: transform 250ms;
            }
          }
          .menuHandler:focus {
            img {
              transform: rotateZ(180deg);
            }
          }
          .menu {
            width: fit-content;
            position: absolute;
            top: 100%;
            left: -132.5%;
            //display: none;
            transform: scale(0);
            flex-direction: column;
            overflow: hidden;
            transition: all 1000ms;
            display: flex;
            > * {
              flex-grow: 1;
            }
          }
        }
        .menuProfilePic:focus-within {
          .menu {
            //display: flex;
            transform: scale(1);
          }
          .menuHandler {
            z-index: -1;
          }
        }
      }
    }
  }
}
