//screen sizes
$sm: 830px;
$md: 1281px;
$lg: 1367px;
$xlg: 1921px;

$clr0: #fff;
$clr0-75: rgba(#fff, 0.75);
$clr0-50: rgba(#fff, 0.5);
$clr0-25: rgba(#fff, 0.25);
//
$clr1: #000;
$clr1-75: rgba(#000, 0.75);
$clr1-50: rgba(#000, 0.5);
$clr1-25: rgba(#000, 0.25);
//
$clr-danger: #f00;
$clr-danger-75: rgba(#f00, 0.75);
$clr-danger-50: rgba(#f00, 0.5);
$clr-danger-25: rgba(#f00, 0.25);
