* {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.5px;
}

//variables
$sm: 600px;

@import "./components/header";
@import "./components/footer";

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
