@import "./abstracts/variables";
@import "./base/select";
@import "./base/buttons";
@import "./components/anasayfa-sizdengelenler-anket";
@import "./components/birim-belge-arsivi";
@import "./components/dogumgunu";
@import "./components/duyuru-talep-formu";
@import "./components/dynamic";
@import "./components/egitim";
@import "./components/favorilerim"; //anasayfa
@import "./components/flag-date";
@import "./components/haberler-anasayfa";
@import "./components/hakkimizda";
@import "./components/havadurumu-anasayfa";
@import "./components/hastane";
@import "./components/ibb-hizmet-lokasyonlari";
@import "./components/ihtiyac-fazlasi-tasinirlar";
@import "./components/infobar";
@import "./components/kan-bagisi";
@import "./components/kultursanatTakvim";
@import "./components/loginModal";
@import "./components/logoutModal";
@import "./components/navbar";
@import "./components/navmenu";
@import "./components/personel-ara-bar";
@import "./components/personel-ara-sayfa";
@import "./components/popUp";
@import "./components/profil-favorilerim";
@import "./components/profilim";
@import "./components/sizdengelenler";
@import "./components/slideshow";
@import "./components/statics";
@import "./components/vefat";
@import "./components/voleybolMasaTenisi";
@import "./components/yemeklistesi";
@import "./layouts/footer";
@import "./layouts/header";
@import "./base/base";

* {
  font-family: Izmir;
  margin: 0 auto;
}
html {
  height: 100%;
}
header {
  //position: sticky;
}
body {
  padding: 0px;
  display: flex;
  flex-direction: column;
}
main {
  width: 100%;
  height: max-content;
  min-height: 80vh;
}
.slide-arama-wrapper {
  position: relative;
}
#haberler-kultursanat {
  display: flex;
  @media only screen and (max-width: $sm) {
    width: 100%;
    flex-direction: column;
  }
  @media only screen and (min-width: $sm) and (max-width: $md) {
    width: 100%;
  }
  @media only screen and (min-width: $md) {
    width: 70%;
  }
}
#anasayfa-reklam {
  width: 70%;
  @media only screen and (max-width: $sm) {
    width: 100%;
  }
  > img {
    width: 100%;
  }
}
//SCROLLBAR

@media only screen and (min-width: $sm) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2f68bd;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  }
}

#loaderContainer {
  position: fixed;
  top: 0vh;
  left: 0vw;
  z-index: 9999;
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  .loader {
    border: 10px solid white;
    border-radius: 50%;
    border-top: 10px solid #283d5c;
    width: 135px;
    height: 135px;
    -webkit-animation: spin 3s linear infinite; /* Safari */
    animation: spin 3s linear infinite;
    background-color: transparent;
    background-color: lightgrey;
  }
  .logoLoader {
    position: absolute;
    width: 85px;
    height: 85px;
    z-index: 2;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gtestDropDown {
  * {
    font-size: 2rem !important;
  }
  > select {
    height: 30px;
    width: 200px;
    list-style: none;
    border: none;
    margin-top: 1%;
  }
  p {
    cursor: pointer;
  }
}
