<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intranet</title>
    <link rel="shortcut icon" href="./Assets/img/favicon.png" />
    <link rel="stylesheet" type="text/css" href="./Assets/fonts/izmir/fonts.css" />
    <link rel="stylesheet" type="text/css" href="./Assets/scss/main.css" />
  </head>
  <body>
    <header></header>
    <main>
      <div class="dynamic">
        <div class="gPopup">
          <div class="gPopup-inner container">
            <!--Pencere kapat Butonu-->
            <div class="">
              <span class="icon-deny toRight block gPopup-closeButton"></span>
            </div>
            <!--Meta Veri Red Formu-->
            <form action="" class="form1">
              <!--Reddedilen Meta Veri Id no-->
              <input type="text" name="META_VERI_ID" hidden />
              <!--Reddetme Nedeni-->
              <div class="inputGroup">
                <span class="clr-danger">Reddetme Nedeni</span>
                <textarea class="textarea" required></textarea>
              </div>
              <!--Reddet Butonu-->
              <div>
                <button class="btn btn-danger-active btn-arrow border1red toRight">Gönder</button>
              </div>
            </form>
          </div>

          <div class="gPopup-exit"></div>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="./Assets/scripts/main.js"></script>
  </body>
</html>
