@import "./abstracts/variables";

@import "./base/base";
@import "./base/buttons";
@import "./base/select";
@import "./base/input";
@import "./base/table";
@import "./base/text";

@import "./layouts/footer";
@import "./layouts/header";

@import "./components/containerMid";
@import "./components/dynamic";
@import "./components/forms";
@import "./components/gPagination";
@import "./components/inputGroup";
@import "./components/card";
@import "./components/select2";
@import "./components/yetkiler";
@import "./base/links";

@import "./pages/anasayfa";
@import "./pages/profil";
@import "./pages/ilerlemeDurumu";

* {
  font-family: Izmir;
  margin: 0 auto;
  box-sizing: border-box;
}
html {
  height: 100%;
}
header {
  //position: sticky;
}
body {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url("/Assets/img/bg-reverse.png");
  background-blend-mode: lighten;
  background-attachment: fixed;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
main {
  width: 100vw;
  height: max-content;
  flex-grow: 1;
  display: flex;
}

//SCROLLBAR
@media only screen and (min-width: $sm) {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2f68bd;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
  }
}
@media print {
  .noPrint {
    display: none;
  }
}

.yatayPrint {
  transform: rotate(-90deg);
}
