.hakkimizda {
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
  > div:nth-of-type(1) {
    width: 45%;
    margin-left: 0%;
    > img {
      width: 100%;
    }
  }
  > div:nth-of-type(2) {
    width: 50%;
    > h1 {
      font-size: 1.25rem;
      margin-top: 0%;
    }
    > div {
      width: 50%;
      margin-left: 45%;
      margin-top: 1%;
      margin-bottom: 0%;
      > img {
        width: 100%;
      }
    }
    > p {
      font-size: 1rem;
    }
  }
  @media only screen and (max-width: $sm) {
    display: block;
    width: 95%;
    > div {
      min-width: 100%;
      > img {
        margin: 0%;
      }
    }
  }
  @media only screen and (min-width: $md) {
    width: 70%;
  }
}
