.ihtiyac-fazlasi-tasinirlar {
  .button-group-g {
    > a {
      width: 250px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 0%;
      text-decoration: none;
      height: 50px;

      @media only screen and (max-width: $sm) {
        width: 100%;
      }
    }
  }
  &-sonuc {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    .personel-kart {
      @media only screen and (max-width: $sm) {
        width: 96%;
      }
      border: 1px solid gray;
      width: 100%;
      height: fit-content;
      color: white;
      border-radius: 5px;
      margin: 1.5%;
      min-height: 300px;
      &-head {
        background-color: #015aad; /* For browsers that do not support gradients */
        background-image: linear-gradient(to left, #015aad, #0293d6);
        display: flex;
        height: 50px;
        align-items: center;
        font-size: 1rem;
        > p {
          margin-left: 3%;
          font-weight: bold;
        }
        > span {
          display: flex;
          min-width: 20%;
          align-items: center;
          justify-content: center;
          margin-right: 3%;
          > * {
            margin: 0%;
          }
        }
      }
      &-body {
        @media only screen and (max-width: $sm) {
          flex-direction: column;
          > div:nth-of-type(2),
          div:nth-of-type(3) {
            height: fit-content;
          }
        }
        color: #015aad;
        display: flex;
        > div {
          min-width: 35%;
          margin: 0%;
          height: 250px;
          > span {
            display: flex;
            margin-top: 5%;
            margin-bottom: 5%;
            font-size: 1rem;
            > b {
              margin: 0%;
              margin-left: 3%;
              width: 200px;
            }
            > p {
              margin-left: 15px;
              width: 100%;
            }
          }
        }
        > div:nth-of-type(1) {
          min-width: 30% !important;
          display: flex;
          justify-content: center;
          > img {
            @media only screen and (max-width: $sm) {
              max-width: 100%;
              margin: 0%;
            }
            max-width: 80%;
            margin: 10%;
          }
        }
      }
    }
  }
}
