.kan-bagisi {
  > p > a {
    text-decoration: none;
    color: #015aad;
  }
  > p {
    margin: 1%;
    margin-bottom: 2%;
  }
  .card-std {
    > div:nth-of-type(1) {
      width: 40% !important;
      > img {
        border: 3px solid #015aad;
        border-radius: 50%;
        width: 100px;
        height: 80px;
        padding: 10px;
      }
    }
    > div:nth-of-type(2) {
      background-image: linear-gradient(to bottom, #0293d6, #015aad);
    }
  }
}

.kan-bagisi-ekle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  > * {
    margin-top: 15px;
    width: 30%;
    min-width: 350px;
    box-sizing: border-box;
    font-size: 18px;
  }
  > *:nth-child(even) {
    height: 40px;
    margin-bottom: 15px;
    margin-top: 5px;
  }
  > button {
    height: 40px;
    width: 15%;
    min-width: 250px;
    margin-top: 1%;
    margin-bottom: 1%;
  }
}
