.logoutModal {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  visibility: hidden;
  display: flex;
  justify-content: center;
  &-inner {
    padding: 1%;
    background-color: white;
    width: 90%;
    max-width: 300px;
    min-height: 200px;
    position: relative;
    border: 1px solid gray;
    > p {
      color: $color-select-text;
      font-weight: bold;
      text-align: center;
      width: 75%;
      margin-top: 5%;
    }
    > form {
      margin-top: 15%;
      width: 90%;
      margin-right: 5%;
      height: 20%;
      display: flex;
      justify-content: space-between;
      > button {
        width: 45%;
        max-height: 100%;
        font-size: 1rem;
        border: 1px solid gray;
      }
    }
    height: 25%;
    top: 35%;
    position: absolute;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 0%;
  }
  &-exit {
    position: top;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
}
