// navbar features
.navbar {
  position: relative;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 80px;
  margin-bottom: 1%;
  &-arama-giris {
    display: flex;
    width: 50%;
    height: 40%;
    justify-content: space-between;
    margin-right: 0px;
  }
  &-logo {
    width: 45%;
    margin-left: 0%;

    > img {
      width: 90%;
    }
  }
  &-label {
    display: block;
    position: relative;
    width: 58%;
    margin-right: 3%;
    border-radius: 5px;
    margin-left: 1%;
    display: flex;
  }
  &-arama {
    height: 70%;
    position: absolute;
    right: 1%;
    top: 15%;
  }

  &-input {
    border: none;
    background-color: rgb(236, 236, 236);
    height: 90%;
    display: block;
    width: 0%;
    transition: width 0.5s;
    visibility: hidden;
  }
  #searchResultsContainer {
    background-color: white;
    width: 100%;
    height: auto;
    position: absolute;
    top: 100%;
    left: 0%;
    z-index: 1;
    > a {
      display: block;
      text-decoration: none;
      color: black;
      text-align: center;
      font-size: 1rem;
      line-height: 200%;
      border: 1px solid gray;
    }
    :hover {
      background-color: gray;
      color: white;
    }
  }
  &-input:focus {
    outline: none;
  }
  &-ham {
    display: none;
  }
  &-kullanici_girisi_mobile {
    display: none;
  }
  &-button {
    max-width: 200px;
    width: 40%;
    height: 100%;
    padding: 0%;
    font-size: 1rem;
    position: relative;
    > img {
      float: right;
      position: absolute;
      color: white;
      top: 20%;
      right: 8%;
      width: 8%;
      padding: 0%;
      cursor: pointer;
    }
    > button {
      height: 100%;
      width: 100%;
      font-size: 85%;
      > a {
        color: white;
        text-decoration: none;
        border-right: 1px solid white;
        padding-right: 5%;
      }
    }
  }

  @media only screen and (max-width: $sm) {
    width: 100%;
    display: block;
    height: unset;
    padding-top: 2%;
    &-arama-giris {
      margin-top: 3%;
      width: 100%;
      justify-content: space-between;
    }
    &-label {
      border-radius: 5px;
      width: 64%;
      margin-left: 5%;
    }
    &-arama {
      height: 70%;
      position: absolute;
      right: 1%;
      top: 15%;
    }
    &-logo {
      width: 88%;
      margin-left: 6%;
      margin-bottom: 2%;
    }
    &-ham {
      width: 6%;
      display: unset;
      margin-right: 7%;
    }
    &-button {
      display: none;
    }
    &-kullanici_girisi_mobile {
      width: 6%;
      display: unset;
      margin-left: 4%;
    }
    &-input {
      width: 100%;
      visibility: visible;
    }
  }
  @media only screen and (min-width: $sm) and (max-width: $md) {
    width: 98%;
  }
  @media only screen and (min-width: $md) {
    background-color: white;
    width: 70%;
  }
}
