.vefat {
  .card-container {
    > div {
      @media only screen and (max-width: $sm) {
        flex-direction: column-reverse;
        > div {
          min-width: 100%;
        }
      }
      display: flex;
      width: 625px;
      min-height: 250px;
      > div:nth-of-type(1) {
        margin: 0%;
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
          width: 125px;
          height: 125px;
          margin: 1%;
        }
      }
      > div:nth-of-type(2) {
        background-color: $color-button-active;
        margin: 0%;
        width: 65%;
        border-radius: 5px;
        box-sizing: border-box;
        > span {
          color: white;
          display: flex;
          margin-top: 2%;
          margin-bottom: 2%;
          margin-right: 2%;
          > b {
            margin: 0%;
            margin-left: 3%;
            width: 250px;
          }
          > p {
            margin-left: 5%;
            width: 100%;
          }
        }
      }
    }
  }
}
