// Color variables

//Background Colors
$color-background-main: #fff;
$color-background-secondary: #f7f7f7;
$color-date-background: #1a427d;
$color-background-information-cards: #bdbdbd;

//Button Colors
$color-button: linear-gradient(to bottom, #0293d6, #015aad);
$color-button-text: #fff;
$color-button-active: #015aad;
$color-button-passive: #f2f2f2;
$color-button-passive-text: #8d8d8d;

//Table Filters
$color-table-filter: linear-gradient(to top, #e2e2e2, #f6f6f6);
$color-table-filter-text: #999999;
$color-table-columns-border: #015aad;

//Headers
$color-h1: #000000;
$color-information-card-h: #0178c0;

//p color
$color-white-p: #ffffff;
$color-announcement-p: #727171;

//General
$color-black: #000;
$color-white: #fff;

//footer
$color-footer: #2e2e2e;

// Font-Size
$font-size-big: 24px;
$font-size-h1: 1.375rem; //22px
$font-size-button-text: 1rem; //20px
$font-size-p: 1.125rem; //18px
$font-size-small: 1rem; //16px

//screen sizes
$sm: 830px;
$md: 1200px;

//Select
$color-select-border: #dfdfdf;
$color-select-text: #535252;
$color-select-passive: #f6f6f6;
$color-select-passive-text: #898989;

//input

$color-input-border: #015aad;

//table

$color-table-row: #fafafa;

//Success-Fail
$color-success: green;
$color-fail: red;
