.card {
  padding: 0px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  //min-width: 299px;
  @extend .container;
  @extend .boxShadow;

  > * {
    //margin-top: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 1% 2px #555;
}

.card:hover {
  transform: scale(1.01);
  transition: transform 150ms;
  cursor: pointer;
}

.card-noHover {
  @extend .card;
  &:hover {
    transform: none;
    cursor: unset;
  }
}

.sirketBilgileri {
  display: flex;
  padding: 3px;
  width: 100%;
  align-items: center;
  > * {
    //align-self: stretch;
    min-height: 75px;
  }
  .sirketLogo {
    display: flex;
    height: 80px;
    min-width: 100px;
    max-width: 100px;
    > img {
      width: 100%;
      object-fit: scale-down;
    }
  }
  .sirketBirimAdi {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > * {
    }
    h3 {
    }
  }
}

.kullaniciBilgileri {
  > * {
    display: block;
    text-align: center;
  }
}
.yetkilerContainer {
  > * {
    width: 30%;
    text-align: center;
  }
}
.buttonContainer {
  display: flex;
  margin-bottom: 0%;
  width: 100%;
  > * {
    border-radius: 0%;
    //max-width: 25%;
    margin-bottom: 0%;
    width: 100%;
    padding: 0%;
  }
  > .btn-3-passive {
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > .optionName {
      font-size: 13px;
      white-space: nowrap;
      color: $clr3;
    }
    > .icon {
      width: 18px;
      height: 18px;
      transform: scale(1.125);
    }
    > * {
      margin: 15% 0 15% 0;
    }
  }
  > .btn-3-passive:hover {
    > span {
    }
    > img {
    }
  }
  .btn-3-passive {
    > img[src*="cross"] {
      transform: scale(1.675);
    }
  }
}

.card:hover {
  .showOnHover {
    @extend .appearScale;
    height: max-content;
  }
}
.showOnHover {
  @extend .disappearScale;
  height: 0;
}

.cardContainer2 {
  .card {
    @media only screen and (max-width: $sm) {
      width: 96%;
      margin: 2%;
    }
    @media only screen and (min-width: $sm) and (max-width: $md) {
      width: 32%;
      margin: 0.66%;
    }
    @media only screen and (min-width: $md) and (max-width: $lg) {
      width: 46%;
      margin: 2%;
    }
    @media only screen and (min-width: $lg) {
      width: 31%;
      margin: 1.16%;
    }
  }
}
