//giriş işlemleri için
.form1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  > * {
    margin: 1%;
    width: 98%;
  }
  .imgContainer {
    display: flex;
  }
  > .title-1,
  .title-2 {
    font-size: 24px;
    text-align: center;
  }
  .inputGroup {
    .passwordInput {
    }
    // .sifreyiGoster {
    //   float: right;
    //   background-image: url("/Assets/img/showPassword.svg");
    //   background-position: 98% 50%;
    //   background-repeat: no-repeat;
    // }
  }
  .buttonGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > * {
      margin: 0%;
    }
    .btn-2 {
      margin-left: auto;
    }
  }
  .beniHatirlaSifremiUnuttum {
    display: flex;
    flex-direction: column;
    color: $clr2;
    user-select: none;
    > * {
      white-space: nowrap;
      margin-left: 0px;
    }
    .beniHatirla {
      cursor: pointer;
    }
    .sifremiUnuttum {
      margin-top: 10px;
      &:visited {
        color: unset;
      }
    }
  }
  .smsAktivasyon {
    .singleNumInputs {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      height: 50px;
      > * {
        display: block;
        margin: 1%;
        min-width: 0;
        width: 50px;
      }
    }
  }
}

.warnArea {
  background-color: rgba($color: $bg-clr-danger, $alpha: 0.25);
  border-radius: 10px;
  width: 98%;
  > p {
    color: $clr-danger;
    font-size: 16px;
    padding: 10px;
  }
}
.form2 {
  @extend .boxShadow;
  .formContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0%;
    width: 800px;
    max-width: 100%;
    > * {
      box-shadow: 0 0 7px 1px rgba($clr1, 0.05);
      padding: 1%;
      border-radius: 10px;
      @media only screen and (max-width: $sm) {
        width: 94%;
        margin: 3%;
      }
      @media only screen and (min-width: $sm) and (max-width: $md) {
        width: 48%;
        margin: 1%;
      }
      @media only screen and (min-width: $md) and (max-width: $lg) {
        width: 48%;
        margin: 1%;
      }
      @media only screen and (min-width: $lg) {
        width: 48%;
        margin: 1%;
      }
      margin-bottom: 50px !important;
    }
  }

  .buttonGroup {
    padding: 0%;
    width: 800px;
    max-width: 100%;
    margin-left: 0%;
  }
}
