//PAGINATION
.pagination-g {
  @media only screen and (max-width: $sm) {
    min-width: 98%;
  }
  padding: 1%;
  max-width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  max-width: 300px;
  margin: auto;
  > button {
    min-width: 35px;
    height: 35px;
    background-color: transparent;
    //background-color: rgba($clr2, 0.75);

    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 0 5px 5px rgba($clr2, 0.25);
    margin: 4px;
    text-align: center;
    color: $clr3;
    font-size: 1.125rem;
    //
    background-color: rgba($clr3, 0.9);
    color: $clr2;
  }
  .page-selected {
    background-color: transparent;
    //background-color: rgba($clr2, 0.75);
    color: $clr3;
    @extend button;
    display: unset;
    //
    background-color: rgba($clr3, 0.9);
    color: $clr2;
    font-weight: bold;
    option {
      background-color: $clr1;
      font-weight: bold;
    }
  }
}

.gPaginationFS {
  position: relative;
  .filterDiv {
    margin-left: 0%;
    display: flex;
    flex-wrap: wrap;
    //margin-left: -0.5%;
    width: 100%;
    //border: 1px solid red;
    .inputContainer {
      //min-width: 101%;
      //min-width: 100%;
      display: flex;
      flex-wrap: nowrap;
      //margin-right: 5%;
      max-width: 100%;
      min-width: 325px;
      //margin: 1% 1% 1% 0%;
      margin-left: 0%;
      margin-bottom: 1%;
      margin-right: 0.6%;
      @media only screen and (max-width: $sm) {
        min-width: 100%;
      }
      input {
        @extend .input;
        //@extend .boxShadow;
        @extend .searchIcon;
        width: 100%;
        margin-left: 0%;
      }
      > span {
        width: fit-content;
        display: flex;
        flex-direction: column;
        button {
          //display: none;
          border: none;
          background-color: transparent;
          color: $clr3;
          cursor: pointer;
        }
      }
    }
  }
  .dataContainer {
    //min-width: 101%;
    //margin-left: -0.5%;
    min-width: 100%;
    margin-left: 0%;
  }
}
