.select2 {
  .select2-selection--single {
    min-height: 33px;
  }
  .select2-search__field {
    text-indent: 2px;
  }
  .select2-selection {
    > * {
      //height: 35px;
    }
    > .select2-selection__arrow {
    }
  }
  .select2-selection__placeholder {
    color: #777 !important;
    @extend .fs-16;
  }
  .select2-selection__choice {
    background-color: $clr4 !important;
    border: none !important;
    * {
      color: $clr3 !important;
      border: none !important;
      font-size: 16px !important;
    }
    *:hover {
      background-color: $clr4 !important;
    }
  }
  [role="presentation"] {
    border-width: 10px 8px 0 8px !important;
    margin-left: -10px !important;
    border-color: $clr2 transparent transparent transparent !important;
  }
}
