.input {
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  min-height: 33px;
  outline: none;
  font-size: 18px;
  //line-height: 18px;
  padding: 0%;
  text-indent: 8px;
}

.searchBar {
  max-width: 98%;
  min-width: 34vw;
  display: flex;
  border: 2px solid $clr2;
  border-radius: 5px;
  height: 55px;
  .input {
    border-radius: 0%;
    flex-grow: 1;
  }
  > button {
    margin: 0%;
    border-radius: 0%;
  }
  > button:hover {
    background-color: $clr3;
  }
}

input[type="password"] {
}
input[type="checkbox"],
input[type="radio"] {
  height: 20px;
  width: 20px;
  cursor: pointer;
  &:checked {
    accent-color: $clr-success;
  }
}
input[type="file"] {
  height: 35px;
  line-height: 35px;
  padding: 0%;
  text-indent: 0%;
  font-size: 16px;
  color: $clr2;
  font-weight: bold;
}

.textarea {
  @extend .input;
  min-height: 15vh;
  resize: none;
  padding: 8px;
  text-indent: 0%;
}

.passwordInput {
  position: relative;
  .input {
    width: 100%;
  }
  .sifreyiGoster {
    position: absolute;
    content: url("/Assets/img/showPassword.svg");
    top: 20%;
    right: 2%;
    cursor: pointer;
  }
}

.smsInput {
  font-size: 24px;
  text-align: center;
  opacity: 0.8;
  color: $clr6;
  border: 3px solid $clr1;
  border-radius: 4px;
  font-weight: bold;
  &:focus {
    outline: none;
    border: 3px solid $clr6;
  }
  &:not(:placeholder-shown) {
    border: 3px solid $clr6;
  }
  &:placeholder-shown {
    border: 3px solid $clr1;
    opacity: 0.25;
  }
}

.searchIcon {
  background-image: url("/Assets/img/arama.svg");
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: center;
}

.checkboxGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  > * {
    margin: 1%;
    white-space: nowrap;
  }
  .checked,
  .unchecked {
    transition: max-width 5000ms;
    max-width: 10000px;
  }
  input[type="checkbox"]:checked ~ .unchecked {
    @extend .disappearOpacity;
    max-width: 0px;
  }
  input[type="checkbox"]:not(:checked) ~ .checked {
    @extend .disappearOpacity;
    max-width: 0px;
  }
}

.disabled {
  background: rgba($color: $clr0, $alpha: 0.66);
  border: 1px solid $clr0;
  border-radius: 5px;
  min-height: 33px;
  line-height: 33px;
  user-select: none;
  text-indent: 10px;
}

label {
  cursor: pointer;
}
