.linksContainer {
  display: flex;
  //flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  > * {
    margin: 1%;
    transition: transform 250ms;
  }
}

.noDecorationLink {
  text-decoration: none;
  text-align: center;
  a {
    text-decoration: none;
    color: $clr2;
  }
  a:visited {
    color: initial;
  }
}
.noDecorationLink:visited {
  //color: inherit;
}
.noDecorationLink:hover {
}

.linkSize {
  @media only screen and (min-width: $sm) and (max-width: $md) {
    font-size: 16px;
  }
  @media only screen and (min-width: $md) and (max-width: $lg) {
    font-size: 18px;
  }
  @media only screen and (min-width: $lg) {
    font-size: 20px;
  }
}

.link {
}
.link:hover {
  transform: scale(1.05);
}

.link-1 {
  @extend .link;
  @extend .noDecorationLink;
  @extend .linkSize;
  font-weight: 600;
  color: $clr2;
}

.link-2 {
  @extend .link;
  @extend .noDecorationLink;
  @extend .linkSize;
  font-weight: 600;
  color: $clr3;
}
