.filter-select {
  width: 100%;
  height: 35px;
  object-fit: contain;
  border-radius: 5px;
  border: solid 0.5px #aaa;
  background-image: linear-gradient(to top, #e2e2e2, #f6f6f6);
  color: #999;
}
