.text {
  @media only screen and (max-width: $sm) {
  }
  @media only screen and (min-width: $sm) and (max-width: $md) {
    background-color: red;
  }
  @media only screen and (min-width: $md) and (max-width: $lg) {
    background-color: orange;
  }
  @media only screen and (min-width: $lg) {
    background-color: green;
  }
}

.bold {
  font-weight: bold;
}

.clr1 {
  color: $clr1;
}
.clr2 {
  color: $clr2;
}
.clr3 {
  color: $clr3;
}
.clr4 {
  color: $clr4;
}

.clr-success {
  color: $clr-success;
}

.clr-danger {
  color: $clr-danger;
}

.clr-info {
  color: $clr-warning;
}

.title {
  font-weight: 700;
  font-style: normal;
}

.title-1 {
  @extend .title;
  color: $clr3;
}

.title-2 {
  @extend .title;
  color: $clr2;
}

@for $i from 1 through 100 {
  .fs-#{$i} {
    font-size: #{$i}+ "px";
  }
}

.textJustify {
  text-align: justify;
}
.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
