//screen sizes
$sm: 830px;
$md: 1281px;
$lg: 1367px;
$xlg: 1921px;

// Color variables
$clr0: #a4a4a4;
$clr1: #484848;
$clr2: #006fd1;
$clr3: #fff;
$clr4: #2dafb0;
$clr5: #d38989;
$clr6: #004280;

$clr-success: #34a853;
$clr-danger: #a70909;
$clr-warning: #d0ab4b;

//Background Colors
$color-background-main: #fff;
$color-background-secondary: #f7f7f7;
$color-date-background: #1a427d;
$color-background-information-cards: #bdbdbd;

$bg-clr-danger: #d38989;
$bg-clr1: #f5f5f5;

//Button Colors
$color-button: linear-gradient(to bottom, #0293d6, #015aad);
$color-button-text: #fff;
$color-button-active: #015aad;
$color-button-passive: #f2f2f2;
$color-button-passive-text: #8d8d8d;

//Table Filters
$color-table-filter: linear-gradient(to top, #e2e2e2, #f6f6f6);
$color-table-filter-text: #999999;
$color-table-columns-border: #015aad;

//Headers
$color-h1: #000000;
$color-information-card-h: #0178c0;

//p color
$color-white-p: #ffffff;
$color-announcement-p: #727171;

//General
$color-black: #000;
$color-white: #fff;

//footer
$color-footer: #2e2e2e;

// Font-Size
$font-size-big: 24px;
$font-size-h1: 1.375rem; //22px
$font-size-button-text: 1rem; //20px
$font-size-p: 1.125rem; //18px
$font-size-small: 1rem; //16px

//Select
$color-select-border: #dfdfdf;
$color-select-text: #535252;
$color-select-passive: #f6f6f6;
$color-select-passive-text: #898989;

//input

$color-input-border: #015aad;

//table
$color-table-row: #fafafa;

//Icons
.icon-ok::after {
  content: "✔️";
}

.icon-deny::after {
  content: "❌";
}

.icon-cross::after {
  content: "✖";
}
.icon-wait::after {
  content: "⌛";
}

.icon-check::after {
  content: "✔";
}
.icon-info::after {
  content: "🛈";
  font-size: 30px;
  line-height: 1px;
  color: $clr2;
  cursor: pointer;
}
.icon-clock::after {
  content: "🕙";
}
.icon-edit::after {
  content: "🖉";
  font-size: 20px;
}

.icon-disc::after {
  content: "💿";
  font-size: 30px;
}
.icon-sensor::after {
  content: "⏚";
  font-size: 25px;
}
.icon-cam::after {
  content: "📷";
}

.icon-backend::after {
  content: "🖧";
  font-size: 35px;
}

.icon-textFile::after {
  content: "🖹";
  font-size: 35px;
}

.icon-cloud::after {
  content: "☁";
  font-size: 35px;
}

.icon-mail::after {
  content: "✉";
  font-size: 25px;
  color: $clr2;
}
